<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nineinfosys.andriod.oragami">

    <application
        android:allowBackup="true"
        android:icon="@drawable/oragamililys"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.nineinfosys.andriod.oragami.Oragamii"

            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.nineinfosys.andriod.oragami.Traditional.TraditionalBirds"
            android:label="Birds"/>
        <activity android:name="com.nineinfosys.andriod.oragami.Traditional.Animals.TaditionalAnimals"
            android:label="Animals"/>
        <activity android:name="com.nineinfosys.andriod.oragami.Traditional.Animals.SeaAnimals"
            android:label="Sea Animals"/>
        <activity android:name="com.nineinfosys.andriod.oragami.Flower.FlowerIndex"
            android:label="Flowers"/>
        <activity android:name="com.nineinfosys.andriod.oragami.Toys.ToysIndex"
            android:label="Toys"/>
        <activity android:name="com.nineinfosys.andriod.oragami.Box.BoxIndex"
            android:label="Boxes"/>
        <activity android:name="com.nineinfosys.andriod.oragami.Butterfly.ButterflyIndex"
            android:label="Butterfly"/>
        <activity android:name="com.nineinfosys.andriod.oragami.Clothes.ClothesIndex"
            android:label="Clothes"/>
        <activity android:name="com.nineinfosys.andriod.oragami.Heart.HeartIndex"
            android:label="Heart"/>
        <activity android:name="com.nineinfosys.andriod.oragami.Plane.PlaneIndex"
            android:label="Plane"/>
        <activity android:name="com.nineinfosys.andriod.oragami.Origami.PaperIndex"
            android:label="Paper"/>
        <activity android:name="com.nineinfosys.andriod.oragami.Origami.TipsIndex"
            android:label="Tips"/>
        <activity android:name="com.nineinfosys.andriod.oragami.Traditional.TraditionalBirdsGrid"
            android:label="Birds"/>
        <activity android:name="com.nineinfosys.andriod.oragami.Traditional.Animals.TaditionalAnimalsGrid"
            android:label="Animals"></activity>
        <activity android:name="com.nineinfosys.andriod.oragami.Traditional.Animals.SeaAnimalsGrid"
            android:label="Sea Animals"></activity>
        <activity android:name="com.nineinfosys.andriod.oragami.Toys.ToysIndexGrid"
            android:label="Toys"></activity>
        <activity android:name="com.nineinfosys.andriod.oragami.Plane.PlaneIndexGrid"
            android:label="Plane"></activity>
        <activity android:name="com.nineinfosys.andriod.oragami.Heart.HeartIndexGrid"
            android:label="Heart"></activity>
        <activity android:name="com.nineinfosys.andriod.oragami.Flower.FlowerIndexGrid"
            android:label="Flowers"></activity>
        <activity android:name="com.nineinfosys.andriod.oragami.Clothes.ClothesIndexGrid"
            android:label="Clothes"></activity>
        <activity android:name="com.nineinfosys.andriod.oragami.Butterfly.ButterflyIndexGrid"
            android:label="Butterfly"></activity>
        <activity android:name="com.nineinfosys.andriod.oragami.Box.BoxIndexGrid"
            android:label="Boxes"></activity>
      <!--  <activity
            android:name=".Oragamii"
            android:label="@string/title_activity_oragamii"
            android:theme="@style/AppTheme.NoActionBar"></activity>-->
    </application>

</manifest>